@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/img/sfondo.png);
  /* background-color: red; */
  /* background-size: cover;
  background-position-y: bottom; */
  width: 90%;
  margin: auto;
}

header {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 3.5px 3.5px #666666;
}

main {
  /*Per centrare il main*/
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 1em;
  border-style: ridge;
  box-shadow: 3.5px 3.5px #666666;
}

footer {
  width: 90%;
  margin: auto;
  background-image: linear-gradient(180deg, #1a7088, #154555);
  padding: 1em;
  padding-top: 0em;
  text-align: center;
  color: white;
  box-shadow: 3.5px 3.5px #666666;
}

table {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
  align-items: center;
}
th {
  border: 1px;
  text-align: center;
}
td {
  border: 1px solid black;
  text-align: center;
}

legend {
  text-align: center;
  font-size: 20px;
  /* padding-bottom: 0.5em; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: royalblue;
  color: white;
  border-color: royalblue;
}

h2 {
  padding: 1em 0px;
  font-size: 26pt;
}

h3 {
  padding-top: 1em;
  font-size: 22px;
}

h4 {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 19px;
  padding-top: 1em;
  /* padding-bottom: 1em; */
  line-height: normal;
}

div > p {
  font-size: 19px;
  /* padding: 1em; */
}

ul {
  padding-left: 1em;
  line-height: normal;
}

ol {
  padding: 1.2em;
  line-height: normal;
}

li {
  line-height: normal;
}

.video {
  border-radius: 10%;
  width: 90%;
  margin: 1em;
}

.top-table {
  background-color: #0099cc;
  width: auto;
}

.container {
  background-image: linear-gradient(180deg, #0099cc, #006688);
  /* padding: 2em; */
}

.menu {
  list-style-type: none;
  text-decoration: none;
}

.scrittore {
  color: rgb(178, 178, 178);
  padding: 1em;
}

.description {
  padding: 1em;
}

.menu {
  color: white;
}

.email {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: dotted;
}

.banner1 {
  padding: 1em;
  background-color: #dfdede;
}

.banner2 {
  padding: 1em;
  background-color: #dfdede;
}

.banner3 {
  padding: 1em;
  background-color: #dfdede;
  border: black;
}

.banner4 {
  padding: 1em;
  background-color: #dfdede;
  border: black;
}

.data1 > p {
  text-align: right;
  font-size: 15px;
}

.articoli {
  text-align: center;
}

.iscrizione {
  text-align: center;
}
